@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --primary-light: hsl(148, 38%, 91%);
  --primary-medium: hsl(169, 82%, 27%);
  --primary-dark: hsl(170, 84%, 12%);
  --error-color: red;
  --neutral: white;
  --neutral-medium: hsl(186, 15%, 59%);
  --neutral-dark: hsl(187, 24%, 22%);
  --primary-font: 'Karla', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-weight: 400;
}

.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  margin: 0 auto;
  background-color: var(--primary-light);
}

main {
  display: flex;
  font-weight: 400;
  justify-content: center;
  margin: 0 auto;
  padding: 5vw 10vw;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  padding: 25px;
  background-color: var(--neutral);
  border-radius: 10px;
}

h1 {
  font-size: 1.5rem;
  color: var(--neutral-dark);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.names {
  display: flex;
  align-content: center;
  gap: 10px;
}
.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input,
.radio-group label,
#message {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--neutral-medium);
  padding: 5px;
}

input.is-error,
.radio-group label.is-error,
#message.is-error {
  border-color: var(--error-color);
}

input {
  height: 40px;
}

input:hover,
.radio-container:hover,
#message:hover {
  border-color: var(--primary-medium);
}

.radio-group {
  display: flex;
  width: 100%;
  gap: 10px;
}

label {
  font-size: 12px;
  padding: 0 0 10px 0;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 40px;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
  border: 1px solid var(--neutral-medium);
  color: var(--neutral-dark);
}

.radio-group input[type='radio'] {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50px;
}

.radio-group input[type='radio']:checked {
  border-color: transparent;
  width: 0.9rem;
  height: 0.9rem;
  appearance: none;
  background-image: url(/assets/images/icon-radio-selected.svg);
  background-size: 0.8rem;
  background-repeat: no-repeat;
}

.radio-group label.is-checked {
  background-color: var(--primary-light);
  color: var(--primary-medium);
  border: 2px solid var(--primary-medium);
}

.error-message {
  color: var(--error-color);
  font-size: 0.7em;
  font-weight: 300;
  padding: 5px 0;
}

textarea {
  line-height: 2;
  resize: none;
}

.field-label::after,
.consent label::after {
  content: '*';
  padding: 5px;
  color: var(--primary-medium);
}

.consent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.consent input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
  appearance: none;
  border-radius: 0;
  border: 1px solid var(--primary-medium);
}

.consent input[type='checkbox'] + label {
  background: var(--neutral);
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.consent input[type='checkbox']:checked {
  background-image: url(/assets/images/icon-checkbox-check.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
}

.consent label {
  padding: 10px 0;
}

button {
  padding: 10px;
  height: 50px;
  background-color: var(--primary-medium);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--neutral);
}

button:hover {
  background-color: var(--primary-dark);
}

.error-message.hidden {
  visibility: hidden;
}

.modal.hidden {
  display: none;
  top: -100px;
  animation: fadeOutModal 1s ease-in-out;
}

@keyframes fadeInModal {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 25px;
  }
}

@keyframes fadeOutModal {
  from {
    opacity: 1;
    top: 25px;
  }
  to {
    opacity: 0;
    top: -100px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 25px;
  animation: fadeInModal 1s ease-in-out;
  transform: translateX(-50%);
  width: 325px;
  overflow: auto;
  background-color: var(--neutral-dark);
  color: var(--neutral);
  border-radius: 5px;
}

.modal-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.modal-title img {
  width: 1rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.modal-content p {
  font-size: 0.7rem;
  color: var(--neutral);
  opacity: 0.8;
}

@media (max-width: 500px) {
  main {
    padding: 1vw;
  }
  .contact-form-container {
    padding: 15px;
    width: 90%;
  }

  .names,
  .radio-group {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  main {
    padding: 1vw;
  }
  .contact-form-container {
    padding: 15px;
    width: 100%;
  }
}
